.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
/build
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/appcompat_v7_20_0_0.xml
.idea/libraries/support_annotations_20_0_0.xml
.idea/libraries/support_v4_20_0_0.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
app/app.iml
app/build.gradle
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
money-tracker.iml
