<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blogspot.e_kanivets.moneytracker">

    <!-- permissions to download and cache video ads for playback -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MtApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Default">
        <activity
            android:name=".activity.ReportActivity"
            android:label="@string/report"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Default" />
        <activity
            android:name=".activity.NavDrawerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Default">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AddExpenseActivity"
            android:label="@string/title_add_expense"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Default" />
        <activity
            android:name=".activity.AddIncomeActivity"
            android:label="@string/title_add_income"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Default" />
        <activity
            android:name=".activity.AddAccountActivity"
            android:label="@string/title_add_account"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Default" />
        <activity
            android:name=".activity.TransferActivity"
            android:label="@string/transfer"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Default" />
    </application>

</manifest>
