<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blogspot.e_kanivets.moneytracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MtApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Default">
        <activity
            android:name=".activity.record.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Default">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ReportActivity"
            android:label="@string/report"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Default" />
        <activity
            android:name=".activity.record.AddRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Default"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.account.AddAccountActivity"
            android:label="@string/title_add_account"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Default"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.exchange_rate.AddExchangeRateActivity"
            android:label="@string/add_exchange_rate"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Default"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.account.TransferActivity"
            android:label="@string/transfer"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Default"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.account.AccountsActivity"
            android:label="@string/title_accounts"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Default" />
        <activity
            android:name=".activity.exchange_rate.ExchangeRatesActivity"
            android:label="@string/title_exchange_rates"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Default" />
        <activity
            android:name=".activity.external.ExportActivity"
            android:label="@string/title_export"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Default" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_settings"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Default" />
        <activity
            android:name=".activity.ChartsActivity"
            android:label="@string/title_charts"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Default" />
        <activity
            android:name=".activity.external.ImportActivity"
            android:label="@string/title_import"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Default" />
        <activity
            android:name=".activity.external.BackupActivity"
            android:label="@string/backup_data"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Default" />
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <data android:scheme="db-5lqugcckdy9y6lj" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.blogspot.e_kanivets.moneytracker"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>